<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <title>Blog App</title>
</head>

<body>
  <nav class="ui fixed inverted menu">
    <div class="ui container">
      <a class="header item active"><i class="comment outline icon"></i><strong>/:urBLOG</strong></a>
      <a class="item" href="/">Home</a>
      <a class="item" href="/blogs/new"><i class="plus square outline icon"></i> Post</a>
      <a class="item" href="/signup"><i class="user plus icon"></i> Signup</a>
      <a class="item" href="/login"><i class="user icon"></i> Login</a>
    </div>
  </nav>