body, html {
  height: fit-content; }

section#blogPosts {
  min-height: 100vh;
  margin: 8% 15%; }
  section#blogPosts div.ui, section#blogPosts div.label {
    background-color: transparent !important; }
  section#blogPosts div.navigation-container {
    display: flex;
    justify-content: flex-end; }

section#viewedPostContainer {
  min-height: 90vh;
  border-color: transparent;
  margin: 80px 0px;
  padding: 0px 15%; }
  section#viewedPostContainer div h1, section#viewedPostContainer div h3 {
    margin: 0px; }
  section#viewedPostContainer div h3 {
    color: grey; }
  section#viewedPostContainer p {
    font-size: 1.4em;
    text-align: justify; }
  section#viewedPostContainer div#buttonsContainer {
    display: flex;
    justify-content: flex-end; }
    section#viewedPostContainer div#buttonsContainer form {
      display: inline-block; }

section#formContainerBox {
  height: fit-content;
  margin: 10% auto; }
  section#formContainerBox form#formContainerForm {
    padding: 0 10%; }
  section#formContainerBox #Label-Image {
    display: flex;
    align-items: center !important; }
  section#formContainerBox #Image-Input,
  section#formContainerBox #Image-File {
    width: 100% !important;
    height: 38px !important; }
  section#formContainerBox #Image-File {
    padding-bottom: 0px;
    padding-top: 4.5px; }
  section#formContainerBox #Update-Button,
  section#formContainerBox #Default-Button {
    width: 100% !important; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

@media screen and (min-width: 950px) {
  section#blogPosts {
    margin: 8% 25%; } }
